body {
  margin: 0;
  padding: 0;
}

p, img {
  display: grid; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; 
  text-align: center; 
}




.MuiBox-root css-k008qs {
margin-bottom: 0px; 
padding-bottom: 0px; 


}

.navStyles {
  margin-left: 0px; 
  margin-right: 0px; 
  text-align: left; 
}


