body {
  margin: 0;
  padding: 0;
}

p, img.cardImage, div.sunImage, div.sunriseStyles, div.sunsetStyles {
  display: grid; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; 
  text-align: center; 
}

img.cardImage {
  width: 50px;  
  height: 50px;  


}




.MuiBox-root css-k008qs {
margin-bottom: 0px; 
padding-bottom: 0px; 


}

.navStyles {
  margin-left: 0px; 
  margin-right: 0px; 
  text-align: left; 
}

/* .sunGrid {
display: 'flex'; 

} */


.SunriseStyles {
margin: 0 auto;  
width: 50px;  
height: 50px; 
}

.SunsetStyles {
  margin: 0 auto;
  width: 50px;  
  height: 50px; 
  }
  

